<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ArtistReadOnlyMapper">
<!--	ARTIST_NAME-->
<!--	, ARTIST_EMAIL-->
<!--	, ARTIST_BIRTH-->
<!--	, ARTIST_GENDER-->
<!--	, ARTIST_MEMBER-->
<!--	, ARTIST_PHONE-->
<!--	, ARTIST_NATION-->
<!--	, ARTIST_ACCEPT-->
	<resultMap type="com.fulldive.back.entity.ArtistEntity" id="ArtistSelectRM">
		<result property="artistId" column="ARTIST_ID"/>
		<result property="artistName" column="ARTIST_NAME"/>
		<result property="artistEmail" column="ARTIST_EMAIL"/>
		<result property="artistBirth" column="ARTIST_BIRTH"/>
		<result property="artistGender" column="ARTIST_GENDER"/>
		<result property="artistMember" column="ARTIST_MEMBER"/>
		<result property="artistPhone" column="ARTIST_PHONE"/>
		<result property="artistNation" column="ARTIST_NATION"/>
		<result property="artistAccept" column="ARTIST_ACCEPT"/>
		<result property="artistCategory" column="ARTIST_CATEGORY"/>
		<result property="artistDescription" column="ARTIST_DESCRIPTION"/>
		<result property="artistSnsI" column="ARTIST_SNS_I"/>
		<result property="artistSnsF" column="ARTIST_SNS_F"/>
		<result property="artistSnsT" column="ARTIST_SNS_T"/>
		<result property="artistSnsY" column="ARTIST_SNS_Y"/>
		<result property="artistSnsW" column="ARTIST_SNS_W"/>
		<result property="categoryNameKr1" column="CATEGORY_NAME_KR1"/>
		<result property="categoryNameKr2" column="CATEGORY_NAME_KR2"/>
		<result property="categoryNameKr3" column="CATEGORY_NAME_KR3"/>
		<result property="categoryNameEn1" column="CATEGORY_NAME_EN1"/>
		<result property="categoryNameEn2" column="CATEGORY_NAME_EN2"/>
		<result property="categoryNameEn3" column="CATEGORY_NAME_EN3"/>
		<result property="createTimestamp" column="CREATE_TIMESTAMP"/>
	</resultMap>
	
    <select id="artistList" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.ArtistEntity" resultMap="ArtistSelectRM">
        SELECT
			USER_ID,
			ARTIST_CATEGORY,
			ARTIST_DESCRIPTION,
			ARTIST_SNS_I,
			ARTIST_SNS_F,
			ARTIST_SNS_T,
			ARTIST_SNS_Y,
			STAGE_DESCRIPTION,
			ARTIST_SNS_W,
			CREATE_TIMESTAMP
		FROM
			TB_FULLDIVE_ARTIST
		WHERE 1=1
		
		 <if test='userId != null'>
			AND USER_ID = #{userId}
 		</if>
    </select>

	<select id="findArtist" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.ArtistEntity" resultMap="ArtistSelectRM">
		SELECT
			TFU.USER_ID,
			TFU.USER_EMAIL,
			TFU.USER_CHK_EMAIL,
			TFU.USER_PASSWORD,
			TFU.USER_NICKNAME,
			TFU.USER_BIRTH,
			TFU.USER_NAME,
			TFU.USER_ACCESS,
			TFU.USER_PHONE,
			TFU.USER_PROFILE_IMAGE,
			TFU.USER_GENDER,
			TFU.USER_NATION,
			TFU.USER_ADDRESS,
			TFU.CREATE_TIMESTAMP,
			TFA.ARTIST_CATEGORY,
			(SELECT CATEGORY_NAME_KR FROM TB_FULLDIVE_CATEGORY
			 WHERE 1=1 AND CATEGORY_CODE = SPLIT_PART(TFA.ARTIST_CATEGORY, ',', 1)) AS CATEGORY_NAME_KR1,
			(SELECT CATEGORY_NAME_KR FROM TB_FULLDIVE_CATEGORY
			 WHERE 1=1 AND CATEGORY_CODE = SPLIT_PART(TFA.ARTIST_CATEGORY, ',', 2)) AS CATEGORY_NAME_KR2,
			(SELECT CATEGORY_NAME_KR FROM TB_FULLDIVE_CATEGORY
			 WHERE 1=1 AND CATEGORY_CODE = SPLIT_PART(TFA.ARTIST_CATEGORY, ',', 3)) AS CATEGORY_NAME_KR3,
			(SELECT CATEGORY_NAME_EN FROM TB_FULLDIVE_CATEGORY
			 WHERE 1=1 AND CATEGORY_CODE = SPLIT_PART(TFA.ARTIST_CATEGORY, ',', 1)) AS CATEGORY_NAME_EN1,
			(SELECT CATEGORY_NAME_EN FROM TB_FULLDIVE_CATEGORY
			 WHERE 1=1 AND CATEGORY_CODE = SPLIT_PART(TFA.ARTIST_CATEGORY, ',', 2)) AS CATEGORY_NAME_EN2,
			(SELECT CATEGORY_NAME_EN FROM TB_FULLDIVE_CATEGORY
			 WHERE 1=1 AND CATEGORY_CODE = SPLIT_PART(TFA.ARTIST_CATEGORY, ',', 3)) AS CATEGORY_NAME_EN3,
			TFA.ARTIST_DESCRIPTION,
			TFA.ARTIST_SNS_I,
			TFA.ARTIST_SNS_F,
			TFA.ARTIST_SNS_T,
			TFA.ARTIST_SNS_Y,
			TFA.ARTIST_SNS_W,
			TFA.ARTIST_COMPANY
		FROM
			TB_FULLDIVE_USER TFU,
			TB_FULLDIVE_ARTIST TFA
		WHERE 1=1
		  AND TFU.USER_ID = TFA.USER_ID
		ORDER BY CREATE_TIMESTAMP DESC
	</select>

	<select id="findAllPopularityArtistList" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.ArtistEntity" resultMap="ArtistSelectRM">
		SELECT
			*
		FROM (SELECT ARTIST_ID
				   , ARTIST_CATEGORY
				   , ARTIST_DESCRIPTION
				   , ARTIST_SNS_I
				   , ARTIST_SNS_F
				   , ARTIST_SNS_T
				   , ARTIST_SNS_Y
				   , ARTIST_SNS_W
				   , CREATE_TIMESTAMP
				   , ARTIST_COMPANY
				   , ARTIST_APPROVAL
				   , ARTIST_NAME
				   , ARTIST_EMAIL
				   , ARTIST_BIRTH
				   , ARTIST_GENDER
				   , ARTIST_MEMBER
				   , ARTIST_PHONE
				   , ARTIST_NATION
				   , ARTIST_ACCEPT
				   , CASE WHEN FOLLOW_COUNT IS NULL THEN 0 ELSE FOLLOW_COUNT END AS FOLLOW_COUNT
			  FROM TB_FULLDIVE_ARTIST TFA
					   FULL OUTER JOIN
				   (SELECT FOLLOW_ARTIST_ID, COUNT(FOLLOW_USER_ID) AS FOLLOW_COUNT
					FROM TB_FULLDIVE_FOLLOW
					GROUP BY FOLLOW_ARTIST_ID) TFAC
				   ON TFA.ARTIST_ID = TFAC.FOLLOW_ARTIST_ID
			 ) TFACF
		ORDER BY TFACF.FOLLOW_COUNT DESC, TFACF.CREATE_TIMESTAMP DESC
	</select>

	<select id="findAllCreateArtistList" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.ArtistEntity" resultMap="ArtistSelectRM">
		SELECT
			ARTIST_ID
			 , ARTIST_CATEGORY
			 , ARTIST_DESCRIPTION
			 , ARTIST_SNS_I
			 , ARTIST_SNS_F
			 , ARTIST_SNS_T
			 , ARTIST_SNS_Y
			 , ARTIST_SNS_W
			 , CREATE_TIMESTAMP
			 , ARTIST_COMPANY
			 , ARTIST_APPROVAL
			 , ARTIST_NAME
			 , ARTIST_EMAIL
			 , ARTIST_BIRTH
			 , ARTIST_GENDER
			 , ARTIST_MEMBER
			 , ARTIST_PHONE
			 , ARTIST_NATION
			 , ARTIST_ACCEPT
		FROM TB_FULLDIVE_ARTIST
		ORDER BY CREATE_TIMESTAMP DESC
	</select>

	<select id="findAllNameArtistList" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.ArtistEntity" resultMap="ArtistSelectRM">
		SELECT
			ARTIST_ID
			 , ARTIST_CATEGORY
			 , ARTIST_DESCRIPTION
			 , ARTIST_SNS_I
			 , ARTIST_SNS_F
			 , ARTIST_SNS_T
			 , ARTIST_SNS_Y
			 , ARTIST_SNS_W
			 , CREATE_TIMESTAMP
			 , ARTIST_COMPANY
			 , ARTIST_APPROVAL
			 , ARTIST_NAME
			 , ARTIST_EMAIL
			 , ARTIST_BIRTH
			 , ARTIST_GENDER
			 , ARTIST_MEMBER
			 , ARTIST_PHONE
			 , ARTIST_NATION
			 , ARTIST_ACCEPT
		FROM TB_FULLDIVE_ARTIST
		ORDER BY ARTIST_NAME DESC
	</select>

	<select id="chkArtistEmail" parameterType="java.util.HashMap" resultType="HashMap" >
		select count(*) from tb_fulldive_artist
		where artist_email = #{artistEmail}
	</select>

</mapper>