<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ArtistDMLMapper">
    <insert id="artistInsert" parameterType="Hashmap">
        INSERT INTO TB_FULLDIVE_USER
        (
            ARTIST_CATEGORY,
            ARTIST_DESCRIPTION,
            ARTIST_SNS_I,
            ARTIST_SNS_F,
            ARTIST_SNS_T,
            ARTIST_SNS_Y,
            ARTIST_SNS_W,
            ARTIST_COMPANY,
            ARTIST_APPROVAL,
            ARTIST_NAME,
            ARTIST_EMAIL,
            ARTIST_BIRTH,
            ARTIST_GENDER,
            ARTIST_MEMBER,
            ARTIST_PHONE,
            ARTIST_NATION,
            ARTIST_ACCEPT,
            ARTIST_PASSWORD
        )
        VALUES
        (
            #{artistCategory},
            #{artistDescription},
            #{artistSnsI},
            #{artistSnsF},
            #{artistSnsT},
            #{artistSnsY},
            #{artistSnsW},
            #{artistCompany},
            #{artistApproval},
            #{artistName},
            #{artistEmail},
            #{artistBirth},
            #{artistGender},
            #{artistMember},
            #{artistPhone},
            #{artistNation},
            #{artistAccept},
            #{artistPassword}
        )
    </insert>
</mapper>