<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="CometDMLMapper">
    <insert id="insertComet" parameterType="Hashmap">
        INSERT INTO TB_FULLDIVE_USER
        (
            USER_ID,
            COMET_USE_STATE,
            COMET_PURCHASE_TIMESTAMP,
            COMET_SALES_TIMESTAMP,
            PAYMENT_ID
        )
        VALUES
            (
                #{userId},
                #{cometUseState},
                #{cometPurchaseTimestamp},
                #{cometSalesTimestamp},
                #{paymentId}
            )
    </insert>
</mapper>