<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="StageReadOnlyMapper">
	
	<resultMap type="com.fulldive.back.entity.StageEntity" id="stageSelectRM">
		<result property="stageId" column="STAGE_ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="stageTitle" column="STAGE_TITLE"/>
		<result property="stageImage" column="STAGE_IMAGE"/>
		<result property="stageLocation" column="STAGE_LOCATION"/>
		<result property="stageTimestamp" column="STAGE_TIMESTAMP"/>
		<result property="stageArtistId" column="STAGE_ARTIST_ID"/>
		<result property="stageDescription" column="STAGE_DESCRIPTION"/>
		<result property="stageThumbnailImage" column="STAGE_THUMBNAIL_IMAGE"/>
		<result property="stageTicketPrice" column="STAGE_TICKET_PRICE"/>
		<result property="stageCurrent" column="STAGE_CURRENT"/>
		<result property="stageTimeDifference" column="STAGE_TIME_DIFFERENCE"/>
		<result property="stageCurrent" column="STAGE_CURRENT"/>
		<result property="stageStreamKey" column="STAGE_STREAM_KEY"/>
		<result property="stageTimeDifference" column="STAGE_TIME_DIFFERENCE"/>
		<result property="createTimestamp" column="CREATE_TIMESTAMP"/>
	</resultMap>
	
	<!-- 진행중인 스테이지 4개 -->
    <select id="stageStartList" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.StageEntity" resultMap="stageSelectRM">
		-- 다가오는 스테이지 목록 (4개)
		SELECT * FROM (
			  SELECT
				  STAGE_ID,
				  CREATE_TIMESTAMP,
				  USER_ID,
				  STAGE_TITLE,
				  STAGE_IMAGE,
				  STAGE_LOCATION,
				  STAGE_TIMESTAMP,
				  STAGE_ARTIST_ID,
				  STAGE_DESCRIPTION,
				  STAGE_THUMBNAIL_IMAGE,
				  STAGE_TICKET_PRICE,
				  STAGE_CURRENT,
				  STAGE_STREAM_KEY,
				  STAGE_COMBINE_ID,
				  CASE WHEN STAGE_COMBINE_ID IS NULL THEN '1' ELSE '2' END AS STAGE_SEQUENCE
			  FROM TB_FULLDIVE_STAGE
			  WHERE 1=1
		  ) TFSTG
		WHERE 1=1
		  AND STAGE_SEQUENCE = '1'
		  AND STAGE_CURRENT = 'R'
		ORDER BY STAGE_TIMESTAMP ASC
			LIMIT 4
    </select>
    
    <select id="stageFindById" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.StageEntity" resultMap="stageSelectRM">
        SELECT
			STAGE_ID,
			TO_CHAR(CREATE_TIMESTAMP, 'YYYY-MM-DD HH:MI:SS'),
			USER_ID,
			STAGE_TITLE,
			STAGE_IMAGE,
			STAGE_LOCATION,
			TO_CHAR(STAGE_TIMESTAMP, 'YYYY-MM-DD HH:MI:SS'),
			STAGE_ARTIST_ID,
			STAGE_DESCRIPTION,
			STAGE_THUMBNAIL_IMAGE,
			STAGE_TICKET_PRICE,
			STAGE_CURRENT,
			STAGE_STREAM_KEY
		FROM
			TB_FULLDIVE_STAGE
		WHERE 1=1
		
		AND STAGE_ID = #{stageId}
    </select>
    
    <select id="stageReadyList" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.StageEntity" resultMap="stageSelectRM">
		SELECT * FROM (
			  SELECT
				  STAGE_ID,
				  CREATE_TIMESTAMP,
				  USER_ID,
				  STAGE_TITLE,
				  STAGE_IMAGE,
				  STAGE_LOCATION,
				  STAGE_TIMESTAMP,
				  STAGE_ARTIST_ID,
				  STAGE_DESCRIPTION,
				  STAGE_THUMBNAIL_IMAGE,
				  STAGE_TICKET_PRICE,
				  STAGE_CURRENT,
				  STAGE_STREAM_KEY,
				  STAGE_COMBINE_ID,
				  -(EXTRACT(EPOCH FROM NOW() - STAGE_TIMESTAMP)/3600)::Integer AS STAGE_TIME_DIFFERENCE,
					  CASE WHEN STAGE_COMBINE_ID IS NULL THEN '1' ELSE '2' END AS STAGE_SEQUENCE
			  FROM TB_FULLDIVE_STAGE
			  WHERE 1=1
		  ) TFSTG
		WHERE 1=1
		  AND STAGE_SEQUENCE = '1'
		  AND STAGE_CURRENT = 'R'
		ORDER BY STAGE_TIMESTAMP ASC
			LIMIT 4
	</select>

	<select id="stageExitList" parameterType="java.util.HashMap" resultType="com.fulldive.back.entity.StageEntity" resultMap="stageSelectRM">
		SELECT * FROM (
			  SELECT
				  STAGE_ID,
				  CREATE_TIMESTAMP,
				  USER_ID,
				  STAGE_TITLE,
				  STAGE_IMAGE,
				  STAGE_LOCATION,
				  STAGE_TIMESTAMP,
				  STAGE_ARTIST_ID,
				  STAGE_DESCRIPTION,
				  STAGE_THUMBNAIL_IMAGE,
				  STAGE_TICKET_PRICE,
				  STAGE_CURRENT,
				  STAGE_STREAM_KEY,
				  STAGE_COMBINE_ID,
				  CASE WHEN STAGE_COMBINE_ID IS NULL THEN '1' ELSE '2' END AS STAGE_SEQUENCE
			  FROM TB_FULLDIVE_STAGE
			  WHERE 1=1
		  ) TFSTG
		WHERE 1=1
		  AND STAGE_SEQUENCE = '1'
		  AND STAGE_CURRENT = 'E'
		ORDER BY STAGE_TIMESTAMP ASC
			LIMIT 4
	</select>
    
</mapper>